.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}

li {
  width: 40%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  list-style-type: none;
}

.navbar {
  background: #07001d !important;
  padding-top: 10px;
  padding-bottom: 10px;
}

.nav-item {
  padding-top: 5px;
  padding-bottom: 5px;
}

.nav-link {
  font-size: large;
}

.nav li a{
  color: white;
  display: inline-block;
}

.nav>li>a:focus, .nav>li>a:hover {
  text-decoration: none;
  background-color: #220079;
}

.nav li {
  width: auto;
  border: 1px solid black;
}

.nav-pills {
  background-color: #00000000;
}

.nav{
  background-color: #00000000;

}